@model Employee 
@{
    ViewData["Title"] = "Delete";
}

<h2>Sure to Delete the Employee Record? - @Model.Name</h2>
<form asp-controller="Employees" asp-action="Delete" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>@Model.Location</td>
        </tr>
    </table>
    <input type="submit" value="Yes" />
    <a asp-controller="Employees" asp-action="Index">Back</a>
</form>
